/* admin_landing.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2022-12/GettyImages-1420831465.jpg.png?itok=c7qZKheg');
    /* Background image URL */
    background-size: cover;
    /* Cover the entire viewport */
    background-position: center;
    /* Center the background image */
    color: rgb(94, 13, 160);
    /* Text color */
}

.container {
    border-radius: 15px;
    background-color: rgba(94, 13, 160, 0.8);
    width: 70%;
    /* Adjust the width as needed */
    padding-top: 35%;
    /* Adjust the height (aspect ratio) as needed */
    text-align: center;
    position: relative;
    /* Needed for absolute positioning of children */
}

.title {
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    position: absolute;
    top: 50px; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent text from wrapping */
    
}

.description {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    position: absolute;
    top: 200px; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%);
}

.button-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 70px;
    margin: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button i.material-icons {
    font-size: 70px;
    margin-bottom: 10px;
}

.button span {
    font-size: 15px;
}


.button:hover {
    background-color: #9079ab;
    /* Button background color on hover */
}
